*{
    margin: 0;
    padding: 0;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px;
}
.html-lessons{
    background-color: black;
}

.challenges{
    background-color: blueviolet;
    grid-column :2/3;
    grid-row :1/2;
  }

.styles{
    background-color:aquamarine;
    grid-column: 3/4;
    grid-row: 1/3;
}  
.title{
    align-items: center;
    color: white;
}
.javascript{
    background-color: blue;
    grid-row:1/4;
    grid-column: 4/4;

}