body {
  background-color: lightblue;
}
.container {
  margin: 15%;
  margin-left: 30%;
  padding: 20px;
  display: grid;
  grid-template-columns: 200px 200px;
}
.currency,
.currency1,
.currency2,
.currency3,
.currency4,
.currency5 {
  border: 10px solid white;
  background-color: yellow;
  padding: 20px;
}
