@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Nunito', sans-serif;
    background-color: hsl(216, 100%, 1%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;
}
.container{
    max-width: 360px;
    margin: 0 auto;
}
.card{
    background-color: hsl(0, 0%, 100%);
    padding: 18px;
    border-radius: 17px;
    text-align: center;
    margin: 0 1em;
}
.card img{
    width: 100%;
    border-radius: 12px;
}
.text{
    padding: 22px 10px;
}
.text h2{
    color: hsl(138, 51%, 16%);
    padding-bottom: 15px;
}
.text p{
    color: hsl(150, 91%, 9%);
}

