* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
  body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .header-section {
      height: 90vh;
      margin-bottom: 5rem;
  }
  .navbar {
      align-items: center;
      display: flex;
      justify-content: space-around;
      padding-bottom: 20px;
      padding-top: 20px;
  }
  .nav-items > a {
      color: hsl(238, 22%, 44%);
      font-size: 18px;
      font-weight: 500;
      margin-left: 10px;
      text-decoration: none;
  }
  .hero-section {
      align-items: center;
      display: flex;
      justify-content: space-around;
  }
  .hero-img-container > img {
      width: 550px;
  }
  .hero-text-container {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  .hero-text-container > h1 {
      color: hsl(243, 87%, 12%);
      font-size: 40px;
      font-weight: 800;
      margin-bottom: 20px;
  }
  .hero-text-container > p {
      color: hsl(238, 22%, 44%);
      font-weight: 500;
      letter-spacing: 2px;
      margin-bottom: 20px;
  }
  .clt-container {
      align-items: center;
      display: flex;
      justify-content: space-between;
  }
  .clt-container > input {
      border: 2px solid hsl(238, 22%, 44%);
      font-weight: 400;
      margin-right: 20px;
      outline-width: 0;
      padding: 12px 28px;
      width: 350px;
  }
  .clt-container > button {
      background-color: hsl(224, 93%, 58%);
      border: none;
      color: white;
      cursor: pointer;
      font-weight: 500;
      outline-width: 0;
      padding: 12px 28px;
      width: 180px;
  }
  .features-section {
      align-items: center;
      background-color: hsl(240, 75%, 98%);
      display: flex;
      height: 90vh;
      justify-content: space-around;
  }
  .features-text-container {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  .features-text-container > h1 {
      color: hsl(243, 87%, 12%);
      font-size: 40px;
      font-weight: 800;
      margin-bottom: 20px;
  }
  .features-text-container > p {
      color: hsl(238, 22%, 44%);
      font-weight: 500;
      letter-spacing: 2px;
      margin-bottom: 20px;
  }
  .features-text-container > button {
      background: none;
      border-bottom: 2px solid hsl(170, 45%, 43%);
      border: none;
      color: hsl(170, 45%, 43%);
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;
      outline-width: 0;
      padding-bottom: 5px;
  }
  .features-img-container > img {
      width: 550px;
  }
  .personal-info-container > img {
      border-radius: 24px;
      margin-right: 10px;
      width: 40px;
  }
  .testimonial-container {
      align-items: flex-start;
      background-color: #fff;
      box-shadow: 5px 5px 8px #888888;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 20px;
      padding: 30px 20px;
  }
  .testimonial-container > p {
      color: hsl(243, 87%, 12%);
      margin-bottom: 15px;
  }
  .personal-info-container {
      align-items: center;
      display: flex;
      justify-content: space-between;
  }
  .personal-info .name {
      color: hsl(243, 87%, 12%);
      font-weight: 800;
  }
  .personal-info .work {
      color: hsl(243, 87%, 12%);
  }
  .call-to-action-section {
      align-items: center;
      background-color: hsl(238, 22%, 44%);
      display: flex;
      height: 40vh;
      justify-content: space-around;
      padding-bottom: 2rem;
      padding-top: 2rem;
  }
  .clt-text-container {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  .clt-text-container > h1 {
      color: hsl(240, 75%, 98%);
      font-size: 40px;
      font-weight: 800;
      margin-bottom: 20px;
  }
  .clt-text-container > p {
      color: hsl(0, 0%, 75%);
      font-weight: 500;
      letter-spacing: 2px;
  }
  .clt-email-container {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  .clt-email-container > input {
      border: 2px solid hsl(238, 22%, 44%);
      margin-bottom: 20px;
      outline-width: 0;
      padding: 12px 28px;
      width: 300px;
  }
  .clt-email-container > button {
      background-color: hsl(224, 93%, 58%);
      border: none;
      color: white;
      cursor: pointer;
      font-weight: 500;
      outline-width: 0;
      padding: 12px 28px;
      width: 180px;
  }
  .footer-section {
      background-color: hsl(243, 87%, 12%);
      color: white;
      height: 40vh;
      padding-top: 40px;
  }
  .footer-section > img {
      cursor: pointer;
      margin-left: 110px;
      padding-bottom: 20px;
  }
  .footer-container {
      align-items: flex-start;
      display: flex;
      justify-content: space-around;
  }
  .personal-info-container {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  .phone-container {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
  }
  .phone-container > img {
      margin-right: 10px;
  }
  .email-container {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
  }
  .email-container > img {
      margin-right: 10px;
  }
  .menu-container {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  .menu-container > a {
      color: hsl(240, 75%, 98%);
      text-decoration: none;
  }
  .social-container > img {
      cursor: pointer;
      margin-left: 15px;
  }