body{
    background-image: url(../images/indexindex2.jpg);
    background-image: transparent;
    text-decoration: none;
}
.container{
     margin-right: 20px;
     margin-top: 30px;
     text-align: right;
     text-decoration: none;
}
.card{
    color: silver;
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
}
.card h2{
    color:white;
}
