@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
body {
      align-items: center;
      background-color:rgba(0, 0, 0, 0.87);
      background-position: right 48vw bottom 40vh,left 45vw top 44vh;
      background-repeat: no-repeat, no-repeat;
      display: flex;
      font-family: 'Kumbh Sans',sans-serif;
      min-height: 100vh;      
  }
.container {
      margin: 0 auto;
      text-align: center;
  }
.wrapper {
      background-color: #FFF;
      border-radius: 15px;
      margin: 1rem;
      max-width: 420px;
      overflow: hidden;
      padding-top: 20px;
  }
.content img {
      border-radius: 50%;
      border: 4px solid #FFF;
      height: 100px;
      margin-bottom: 20px;
      margin-top: -52px;
      width: 100px;
  }
.content h2 {
      color: hsl(229, 23%, 23%);
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 10px;
  }
.content h2 span {
      color: hsl(227, 10%, 46%);
      font-weight: 400;
  }
.content p {
      color: hsl(227, 10%, 46%);
      font-size: 13px;
  }
.footer {
      border-top: 1px solid hsla(227, 10%, 46%, 0.2);
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      padding: 30px 50px;
  }
.footer p.num {
      color: hsl(229, 23%, 23%);
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 5px;
  }