@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
*{
      margin: 0;
      padding: 0;
  }
body{
      align-items: center;
      background-color: hsl(216, 100%, 1%);
      display: flex;
      font-family: 'Nunito', sans-serif;
      font-size: 15px;
      min-height: 100vh;
  }
.container{
      margin: 0 auto;
      max-width: 360px;
  }
.card{
      background-color: hsl(0, 0%, 100%);
      border-radius: 17px;
      margin: 0 1em;
      padding: 18px;
      text-align: center;
  }
.card img{
      border-radius: 12px;
      width: 100%;
  }
.text{
      padding: 22px 10px;
  }
.text h2{
      color: hsl(138, 51%, 16%);
      padding-bottom: 15px;
  }
.text p{
      color: hsl(150, 91%, 9%);
  }
